[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
python-igraph = "*"
numpy = "*"
biopython = "*"
waitress = "*"
falcon = "*"
falcon-swagger-ui = "*"
pydantic = "*"
protgraph = "*"

[requires]
python_version = "3.8.6"
